* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

* {box-sizing: border-box}

.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6 {
    height: 450px;
    display: none;
}

img, video{
    height: 100%;
    width: auto;
    vertical-align: middle;
    border-width: 2px;
    border-color:  rgb(255, 255, 255);
    border-style: solid;
}

.vetPic{
    padding-top: 0px;
    margin-top: 0px;
    height: 300px;
    width: auto;
    vertical-align: middle;
    border-width: 2px;
    border-color:  rgb(255, 255, 255);
    border-style: solid;
}

.vetPic:hover {
    filter:brightness(65%);
}

.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: #2196F3;
}

body {
    margin: 0px;
    padding: 0px;
}

.headingContainer {
    width: 100%;
    margin: 0px;
    background: url("pics/new4.jpg");
    background-size: cover;
    height: 620px;
    position: sticky;
    z-index: -1;
    top: 0px;
    margin: 0px;
}

#titleMowglie, #titleAnd, #titleSasha, #titlePage {
    text-align: center;
    font-size: 65px;
    color: rgb(250, 252, 252);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

#titleMowglie {
    left: 32%;
    top: 13%;
    animation-name: Mowglie;
    animation-duration: 1s;
    position: absolute;
}

@keyframes Mowglie {
    0% {font-size: 0px; left:100%; color:red;}
    50% {font-size: 200px; left: 0%; color:rgb(255, 252, 67);}
    100% {font-size: 65px; left: 32%; top: 13%;}
}

#titleAnd {
    left: 50%;
    top: 9%;
    animation-name: And;
    animation-duration: 2s;
    position: absolute;
}

@keyframes And {
    0% {font-size: 0px; left:50%; color: red;}
    50% {font-size: 200px; left: 50%; top: 30%; color:rgb(0, 255, 34);}
    100% {font-size: 65px; left: 50%; top: 9%;}
}

#titleSasha {
    left: 55%;
    top: 5%;
    animation-name: Sasha;
    animation-duration: 3s;
    position: absolute;
}

@keyframes Sasha {
    0% {font-size: 0px; left:0%; color: red;}
    50% {font-size: 200px; left: 64%; color: rgb(210, 63, 240);}
    100% {font-size: 65px; left: 55%; top: 5%;}
}

.topNav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 20px;
}

.topNav a:hover {
    background-color: rgb(210, 63, 240);
}

#current {
    background-color: rgb(35, 211, 58);
}

#current:hover {
    background-color: rgb(210, 63, 240);
}

.mainContainer {
    background-color: rgb(211, 211, 211);
}

.sidenav {
    width: 130px;
    height: 100%;
    position: sticky;
    top: 47px;
    float:left;
    left: 0px;
    background-color: rgb(211, 211, 211);
    overflow: auto;
    padding-top: 10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
    font-size: 24px;
}

.sidenav a:hover {
    background-color:rgb(255, 208, 0);
    color: #f2f2f2;
    
}

.main {
    background-color: #2196F3;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    margin-left: 130px;
    text-align: center;
    overflow: hidden;
}

#firstHead {
    margin-top:20px;
    padding:0px;
} 

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}  

.lifestyleTitle {
    background-color:rgb(126, 180, 252);
    width: cover;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    font-size: 40px;
    color: white;
}

.slideshow1 {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    height: auto;
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 15px;
    color: black;
    background-color: white;
    border-radius: 20px;
    border-width: 5px;
    border-color:  rgb(110, 245, 128);
    border-style: solid;
    
}
.slideshow {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px 15px 10px 15px;
    height: auto;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 15px;
    color: white;
    background-color:rgb(126, 180, 252);
    border-width: 5px;
    border-color:  rgb(255, 255, 255);
    border-style: solid;
}
#myCanvas {
    background: rgb(9, 180, 32);
    /*border-style: double;*/
    border-style: solid;
    border-color: rgb(214, 34, 34);
    border-width: 10px;
}

.gamelink {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: auto;
    font-size: 30px;
    color: white;
    background-color:rgb(126, 180, 252);
    border-width: 5px;
    border-color:  rgb(230, 11, 11);
    border-style: solid;
 
    padding: 15px 15px 15px 15px;
}

.gamelink a{
    text-decoration: none;
    padding: 15px 15px 15px 15px;
    margin-top: 35px;
    margin-bottom: 15px;
    color: white;
}

.gamelink:hover {
    background-color: rgb(210, 63, 240);
}

.vetExplan {
    margin-left: auto;
    margin-right:auto;
    width: 500px;
    padding: 10px 15px 10px 15px;
    height: auto;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: auto;
    color: white;
    background-color:rgb(126, 180, 252);
    border-width: 2px;
    border-color:  rgb(255, 255, 255);
    border-style: solid;
}